@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

@font-face {
  font-family: 'findel';
  src: url('Findel-Display-Regular.otf');
}

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: Lora, serif;
    background-color: #F2E9E4;
}


.container1{
    background-color:#9A8C98;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.container1 .logo{
    padding: 5px;
    max-width: 50px;
    margin-right: 100px;
}

p{
    color: #fff;
    text-align: center; 
}

.container1 .socials{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 5px;
}

.container1 .socials a{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 8px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

.container1 .socials a:hover{
    color: #4A4E69;
    background-color: #fff;
    border-color: #fff;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px; 
    height: 6rem;
    margin: auto;

}

.box img{
    width: 100px;
}

h3{
    font-family: Lora, serif;
    color: #444474;
    font-size: 2rem;
    text-align: center;
}

nav{
    background-color: #4A4E69;
    margin: auto;
    padding: 1rem 1rem;
    display:flex;
    justify-content: center;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position:absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}

.container2{
    background-color: #C9ADA7;
    display: flex;
    height: 500px;
}

.container-img {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-img img{
    display: block;
    width: 400px;
    height: 400px;
    z-index: 1;
}

.container-img .blob {
    position: absolute;
    z-index: 0;
    transform: translate(10%, 0%);
    width: 450px;
    height: 350px;
    background-image: url(images/blob1.png);
    background-size: cover;
}

.container-img .leaf3 {
    position: absolute;
    z-index: 2;
    transform: translate(-50%, 40%);
    width: 200px;
    height: 250px;
    background-image: url(images/leaf3.png);
    background-size: cover;
}

.container2 .header-text{
    width: 50%;
    position: relative;
    display: grid;
    text-align: center;
    padding: 1rem 1rem;
    /* background-color: #c1c8f0;  */
}

.container2 .header-text h2{
    padding-top: 40px;
    font-family: Caveat, cursive;
    font-size: 4rem;
    color: #4A4E69;
    /* background-color: #969cc8; */
}

.container2 .header-text h2 span{
    font-family: findel;
    font-size: 6rem;
    color: #fff;
    font-style: normal;
}

h2 .leaf2{
    display: inline;
    width: 100px;
    height: 100px;
    margin: 0px;
    vertical-align: middle;
}

.container2 .header-text p{
    /* background: #b25f4d; */
    margin: auto;
    margin-top: 0;
    line-height: 2;
    width: 35rem;
}

.btn{
    padding: 1rem 2rem;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    color: #fff;
    background-color: #22223B;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: auto;
}

.btn:hover{
    background-color: lightslategray;
}

.container-features{
    background-color: #fff;
    height: 30rem;
}

section .header{
    color: #22223B;
    padding: 2rem;
    text-align: center;
    font-size: 4rem;
    font-family: caveat;
}

.features{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

#card1{
    background-color: #C9ADA7;
}

#card2{
    background-color: #9A8C98;
}

#card3{
    background-color: #444474;
}

#card4{
    background-color: #22223B;
}

.features .card{
    padding: 2rem;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
}


#card1:hover{
    background-color: #6b6b6b;
    border-color: #22223B;
}

#card2:hover{
    background-color: #6b6b6b;
    border-color: #22223B;
}

#card3:hover{
    background-color: #6b6b6b;
    border-color: #22223B;
}

#card4:hover{
    background-color: #6b6b6b;
    border-color: #22223B;
}

.features .card span{
    display: inline-block;
    background-color: #fff;
    padding: 2px 6px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #C9ADA7;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-family: Lora, serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.features .card p{
    color: #fff;
    margin-bottom: 1rem;
    text-align: left;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #d089ff;
}

.container-pricing{
    color: #F2E9E4;
    height: 70rem;
}

.sub-header{
    color: #4A4E69;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.pricing{
    margin-top: 1rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
    justify-items: center;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 50px;
    transition: all 0.3s ease;
    width: 350px;
}

.container-pricing .pricing #card6{
    position: relative;
    left: 26rem;
    top: -7rem;
}

.container-pricing .pricing #card7{
    position: relative;
    left: 2rem;
    top: -21rem;
}

.pricing .card:hover{
    background-color: #e9e8ff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #4A4E69;
    font-size: 1.75rem;
    font-weight: 600;
}

.pricing .card h3{
    color: #22223B;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #E1AFD1;
}

.pricing .card p{
    color: #9A8C98;
}

.container3 img{
    position:absolute;
    right: 1rem;
    margin-right: 7rem;
    margin-top: 3rem;
    width: 400px;
    height: 400px;
    z-index: 0;
}

.container3 .leaf3{
    position: absolute;
    z-index: 2;
    top: 10rem;
    left: 13rem;
    width: 200px;
    height: 250px;
    background-image: url(images/leaf3.png);
    background-size: cover;
}

.container3 .blob{
    background-image: url(images/blob2.png);
    position: absolute;
    height: 400px;
    width: 400px;
    float: right;
    z-index: -1;
    right: 3rem;
    top: 92rem;
    background-size: cover;
}

.container3 .leaf4{
    position: absolute;
    right: 2rem;
    width: 250px;
    height: 250px;
    background-image: url(images/leaf4.png);
    background-size: cover;
}

.container-pricing .leaf5{
    position: absolute;
    right: 4rem;
    right: 25rem;
    top: 128rem;
    width: 150px;
    height: 100px;
    background-image: url(images/leaf5.png);
    background-size: cover;
}

.container-pricing .sub-header-2{
    color: #444474;
    width: 400px;
    position: absolute;
    float: right;
    right: 20rem;
    top: 136rem;
}

footer{
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 2rem;
    background-color: #4A4E69;
    column-gap: 5rem;
}

footer .container-about{
    column-gap: 0rem;
}

footer .column{
    max-width: 20rem;
    
}

footer .column .logo{
    max-width: 200px;
    margin: 1rem;
    padding-right: 0;

}

#footer-text{
    position: relative;
    right: 6rem;
    top: 4rem;
}

footer .column h2{
    color: #F2E9E4;
    font-family: findel;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    
}

footer .column p{
    color: #F2E9E4;
    text-align: center;
}

footer .column h4{
    color: #C9ADA7;
    font-family: Alex Brush;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: left;
    margin-right: 2rem;
}

footer .column > a{
    display: block;
    color: #fff;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #d089ff;
}

.copyright{
    background-color: #9A8C98;
    color: #fff;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
}

@media (width < 1400px){
    .container2{
        height: 40rem;
    }
}

@media (width < 1000px){
    .nav-links{
        display: none;
    }
    .container2{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60rem;
    }
    .container2 img{
        order: -1;
    }
    .container1 .header-text .leaf2{
        right: -1rem ;
        top: 10rem;
    }
        
    }

@media (width < 800px){
    .container2{
        height: 64rem;
    }
    .container2 .header-text .leaf2{
        right: -2rem ;
        top: 12rem;
    }
}

*{
    outline: 1px solid red;
}
