@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

body{
    color: #fff;
    background-color: #f0ce98;
    background-image:
        radial-gradient(at 9% 89%, rgb(180, 124, 248) 0px, transparent 50%),
        radial-gradient(at 72% 6%, hsla(331, 74%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 24% 19%, hsla(14, 90%, 74%, 1) 0px, transparent 50%),
        radial-gradient(at 65% 6%, hsla(6, 79%, 76%, 1) 0px, transparent 50%),
        radial-gradient(at 20% 98%, hsla(316, 72%, 64%, 1) 0px, transparent 50%),
        radial-gradient(at 44% 9%, hsla(40, 96%, 77%, 1) 0px, transparent 50%),
        radial-gradient(at 10% 9%, rgb(216, 159, 231) 0px, transparent 50%);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
}

.glass-container{
    display: flexbox;
    min-width: 50vw;
    min-height: 70vh;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.20);
    padding: 60px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.logo{
    display: inline-block;
    font-size: 30px;
    font-weight: 600;
}

ul.nav-links{
    margin: 0;
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0 30px;
    flex-wrap: wrap;
}

li.nav-link{
    display: inline-block;
    font-size: 17px;
    font-weight: 300;
}

.nav-link a{
    color: #ffffff;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #d000ff;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #d000ff;
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content{
    display: flex;
    width: 100%;
}

.main{
    margin-top: 15vh;
    display: inline-block;
    padding: 20px;
}

.main h2{
    font-size: 35px;
}

.main p{
    font-size: 16px;
    line-height: 23px;
}

button{
    margin-top: 10px;
    width: 80%;
    height: 40px;
    font-size: 15px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    border-color: #db29cf;
    background-color: #ef4fa7;
}

.image-wrapper{
    display: flex;
    margin-top: 5vh;
    position: relative;
    flex-direction: column;

}

.image-wrapper img{
    width: 30vw;
    object-fit: cover;
}

.attribute{
    bottom: 20px;
    font-size: 12px;
    right: 1rem;
    text-align: right;
}

/* GALLERY */

.glass-container .slide{
    width: 100%;
    height: 90%;
    position: relative;
}


.glass-container .slide .item{
    width: 200px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 2rem;
    left: 0;
    transform: translate(5%, 0);
    border-radius: 20px;
    width: 90%;
    height: 90%;
}


.slide .item:nth-child(3){
    left: 50%;
}
.slide .item:nth-child(4){
    left: calc(50% + 220px);
}
.slide .item:nth-child(5){
    left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
    left: calc(50% + 660px);
    opacity: 0;
}

.item .content{
    position: relative;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%);
    font-family: system-ui;
    display: none;
}


.slide .item:nth-child(2) .content{
    display: block;
}


.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button{
    padding: 10px 20px;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}



.button{
    width: 100%;
    text-align: center;
    bottom: 20px;
    right: 0;
}

.button button{
    width: 50px;
    height: 40px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #fefefe;
    background-color: rgb(234, 49, 151);
    transition: 0.3s;
}

.button button:hover{
    background: #520e8e;
    color: #ffffff;
}

/*Photo Gallery*/
.photobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.photobox .heading h3{
    font-size: 3rem;
    font-weight: bolder;
}

.photobox .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.photobox .box .dream{
    display: flex;
    flex-direction: column;
    width: 32%;
}

.photobox .box .dream img{
    width: 100%;
    padding-bottom: 15px;
    border-radius: 25px;
}

@media screen and (min-width: 1075px) and (max-width: 1735px){
    .glass-container {
        overflow: hidden;
    }
}

@media screen and (min-width: 1620px) and (max-width: 2160px){
    .glass-container{
        overflow: hidden;
    }
}

@media screen and (max-width: 1200px) {
    .main{
        margin-top: 0vh;
    }
    .content{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .image-wrapper{
        margin-top: 0vh;
    }
    .image-wrapper img{
        width: 70vw;
    }
    li.nav-link{
        font-size: 1rem;
    }
    .logo{
        text-align: center;
    }
    .attribute{
        text-align: center;
    }
    .slide .item .content{
        left: 50px;
    }
    .content .name{
        font-size: 70px;
    }
    .glass-container{
        width: 70%;
        min-width: 50vw;
        min-height: 70vh;
        margin-top: 10vh;
        margin-bottom: 30px;
        padding: 60px;
        border-radius: 20px;
        overflow: hidden;
    }
    .button button{
        width: 90px;
        height: 80px;
    }
}

@media only screen and (max-width: 769px) {
    .main{
        margin-top: 0vh;
    }
    .logo{
        font-size: 22px;
    }
    li.nav-link{
        font-size: 0.7rem;
    }
    .main h2{
        font-size: 28px;
    }
    .main p{
        font-size: 15px;
    }
    .image-wrapper img{
        width: 150vw;
    }
    .photobox .box{
        flex-direction: column;
    }
    .photobox .box .dream{
        width: 100%;
    }
}